.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
  align-items: center;
  }

.title p {
  margin-top: -10px;
  font-size: 18px;
  }

.logo {
  position: relative;
  left: 120px;
  bottom: 75px;
  border: 2px solid white;
  max-width: 90px;
  height: 90px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  align-items: center;
  font-size: 22px;
  }

.logo a:hover {
  color: #fff;
  }


.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  }

.contact-form {
  margin-left: 50px;
  border: 1px solid white;
  border-radius: 10px;
  height: 490px;
  width: 685px;
  margin-top: -40px;
  background-color: rgba(94, 92, 92, 0.9);
  }

.contact-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  flex-direction: column;
  }

.contact-form input {
  margin: 30px 40px 0;
  border-radius: 2px;
  }

input[type="text"], input[type="email"] {
  width: 600px;
  height: 40px;
  padding-left: 10px;
  }

input[type="textarea"] {
  padding-bottom: 80px;
  padding-left: 10px;
  width: 600px;
  height: 120px;
  }

.contact-form input[type="checkbox"] {
  width: 15px;
  position: relative;
  top: 38px;
  }

label input:first-child {
  margin-top: 40px;
  }

label p {
  left: 70px;
  position: relative;
  }

button {
  width: 200px;
  height: 45px;
  position: relative;
  left: 440px;
  bottom: 45px;
  border-radius: 10px;
  background-color: rgba(171, 66, 52, 0.8);
  border: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  }

button:hover {
  cursor: pointer;
  border: 1px solid rgba(246, 102, 102, 1);
  color: rgba(246, 102, 102, 1);
  }

.contacts {
  width: 300px;
  margin-left: 80px;
  margin-top: -60px;
  }

.hours {
  border-bottom: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
  align-items: center;
  height: 175px;
  }

table th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  }

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid white;
  }

address {
  font-style: normal;
  line-height: 22px;
  }

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 40px;
  margin-top: 15px;
  }

.details img {
  max-width: 20px;
  margin-right: 10px;
  }

.phone-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
  align-items: center;
  margin: 10px;
  height: 25px;
  }

.email-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
  align-items: center;
  height: 15px;
  margin: 10px;
  }
  .email-details img {
    max-width: 15px;
  }
