html, body {
  margin: 0;
  padding: 0;
  }

body {
  background-image: url(main-background.jpg);
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  }

* {
  box-sizing: border-box;
  }

@font-face {
  font-family: 'Cinzel';
  src: url('Cinzel-Bold.woff2') format('woff2'),
       url('Cinzel-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  }

.banner ul  {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  background-color: black;
  height: 30px;
  font-size: 16px;
  }

.banner a {
  margin-left: 5px;
  font-size: 16px;
  color: white;
  }

.banner img {
  margin-left: 10px;
  max-width: 20px;
  }

.banner li {
  display: flex;
  align-items: center;
}

/*Navigation Bar*/
.nav-content {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.5);
  border-top: 1px solid white;
  }

.nav-content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 10px;
  list-style-type: none;
  font-size: 22px;
  color: white;
  }

.nav-content ul li {
  padding: 0 10px;
  }

input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: none;
  }

.login {
  margin-left: 20px;
  }

.cartlogo {
  padding-right: 20px;
  }

a {
  text-decoration: none;
  color: white;
  }

  /*Container*/
.main-container {
  display: flex;
  justify-content: space-between;
  }

.sub-container1 {
  margin: 0 20px;
  }

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(78, 80, 80, 0.8);
  margin-top: 40px;
  max-height: 80px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  }

h1 {
  font-family: "Cinzel", monospace;
  font-size: 36px;
  }

span {
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  font-size: 18px;
  letter-spacing: 4px;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 2s steps(44)  1 normal both,
  blinkTextCursor 500ms;
  }

@keyframes typewriter {
  from {
   width: 0;
   }
  to {
   width: 420px;
   }
 }

.main-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
  height: 450px;
  margin-left: 10px;
  margin-top: 25px;
  white-space: inherit;
  background-image: url(pexels-houzlook-com-3356416.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  }

.buttons ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid red;
  }

.buttons ul li  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-decoration: none;
  height: 40px;
  width: 280px;
  border-radius: 10px;
  background: -webkit-linear-gradient(rgba(78, 80, 80, 1) 10%, rgba(85, 83, 83, 1) 30%, rgba(136, 139, 139, 1) 50%, rgba(85, 83, 83, 1) 70%, rgba(78, 80, 80, 1) 90%); /* Chrome10+, Safari5.1+ */
  background: -moz-linear-gradient(rgba(78, 80, 80, 1) 10%, rgba(85, 83, 83, 1) 30%, rgba(136, 139, 139, 1) 50%, rgba(85, 83, 83, 1) 70%, rgba(78, 80, 80, 1) 90%);   /* FF3.6+ */
  background: linear-gradient(rgba(78, 80, 80, 1) 10%, rgba(85, 83, 83, 1) 30%, rgba(136, 139, 139, 1) 50%, rgba(85, 83, 83, 1) 70%, rgba(78, 80, 80, 1) 90%);     /* W3C */
  box-shadow: inset 1px 0 7px 0  white;
  margin-right: 35px;
  }

.sub-container2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  }

.sub-container2 img {
  width: 240px;
  height: 190px;
  opacity: 0.8;
  margin-top: 20px;
  }

.main-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 50%, #000000 100%);
  opacity: 0.9;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  }

.main-container2 p {
  margin-top: -10px;
  max-width: 950px;
  }

.icons {
  width: 1200px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  }

.icons img {
  max-width: 40px;
  }

.icons-text {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 1200px;
  }

  .product-container {
    background-image: url(Valchromat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
  }
