.banner ul  {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0px;
  background-color: black;
  height: 30px;
  font-size: 16px;
  }

.banner a {
  margin-left: 5px;
  font-size: 16px;
  color: white;
  }

.banner img {
  margin-left: 10px;
  max-width: 20px;
  }

.banner li {
  display: flex;
  align-items: center;
}

/*Navigation Bar*/
.nav-content {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0,0,0,0.5);
  border-top: 1px solid white;
  }

.nav-content ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 10px;
  list-style-type: none;
  font-size: 22px;
  color: white;
  }

.nav-content ul li {
  padding: 0 10px;
  }

input {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  border: none;
  }

.login {
  margin-left: 20px;
  }

.cartlogo {
  padding-right: 20px;
  }

a {
  text-decoration: none;
  color: white;
  }
