.product-container {
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

.product-container h2 {
  margin-top: 40px;
  }

.product-container h2::before {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background-color: white;
  margin-bottom: 8px;
  margin-right: 25px;
  }

.product-container h2::after {
  content: "";
  display: inline-block;
  width: 300px;
  height: 1px;
  background-color: white;
  margin-bottom: 8px;
  margin-left: 25px;
  }

.products img {
  max-width: 430px;
  max-height: 330px;
  margin-right: 5px;
  border-radius: 5px;
  }

.products  {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  }

.products p {
  background-color: #5e5c5c;
  opacity: 0.9;
  height: 100px;
  max-width: 275px;
  margin-right: 5px;
  border-top: 1px solid #9dc5c3;
  border-bottom: 1px solid #9dc5c3;
  position: relative;
  z-index: 1;
  margin-top: -300px;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  }

.prices {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -100px;
  position: relative;
  z-index: 1;
  }

.prices p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 30px;
  border: 1px solid #9dc5c3;
  background-color: rgba(171, 66, 52, 0.8);
  border-radius: 5px;
  margin-left: 10px;
  }

.prices p:hover {
  border: 1px solid rgba(246, 102, 102, 1);
}

.star-rating img {
  max-width: 15px;
  max-height: 15px;
  margin-left: 5px;
  }

.star-rating {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -10px;
  position: relative;
  z-index: 1;
  }

.first-group, .second-group, .third-group, .fourth-group {
  border-top: 1px solid white;
  width: 230px;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  }

.first-group p, .second-group p, .third-group p, .fourth-group p {
  display: flex;
  flex-direction: row;
  margin: 0 10px;
  font-size: 14px;
  }

.first-group {
  margin-left: 15px;
  }

.third-group {
  margin-right: 2px;
  }

.fourth-group {
  margin-right: 20px;
  }
